@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './btn.scss';

body {
  margin: 0;
  background: #f6f7f9;
  color: #333;
  height: 100%;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.bold{
  font-weight: bold;
}

.blue {
  color: $blue;
}
.green {
  color: $green;
}
.red {
  color: $red;
}

$num: 5,
10,
15,
20,
25,
30,
35,
40,
45,
50,
55,
60,
65,
70,
75,
80,
85,
90,
95,
100;

@each $n in $num {
  .pl-#{$n} {
    padding-left: $n + px;
  }

  .pr-#{$n} {
    padding-right: $n + px;
  }

  .pt-#{$n} {
    padding-top: $n + px;
  }

  .pb-#{$n} {
    padding-bottom: $n + px;
  }

  .ml-#{$n} {
    margin-left: $n + px;
  }

  .mr-#{$n} {
    margin-right: $n + px;
  }

  .mt-#{$n} {
    margin-top: $n + px;
  }

  .mb-#{$n} {
    margin-bottom: $n + px;
  }
}
.mb-0{
  margin-bottom: 0 !important;
}

$display: flex,
block,
inline;

@each $d in $display {
  .#{$d} {
    display: $d;
  }
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 15px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

// .pagination-container {
//   margin-top: 30px;
// }

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.wrapper-container{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}


/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #eee;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
  // background:rgba(255,0,0,0.4);
}

// 侧边树形
.sidetree {
  &-layout {
    padding: 15px;
    display: flex;

    &__left{
      // position: fixed;
    }

    &__right {
      // margin-left: 265px;
      width: 100%;

      &.fixed{
        margin-left: 265px;
      }
    }
  }
}

// 满屏页面
.overspread-page {
  min-height: calc(100vh - 130px);
  // max-height: calc(100vh - 130px);
  /deep/ .el-card{
    min-height: calc(100vh - 130px);
  }
}