// base color
$color-primary: #00bb9b;

$blue:#2678ca;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$dark-gray: #888;
$light-gray: #eee;
$border: 1px solid #e6ebf5;
$navbar-height: 60px;
$breadcrumb-height: 41px;

$menuText:#fff;
$menuActiveText:#02ceac;
$subMenuText:#333;
$subMenuActiveText:$color-primary;

$menuBg:transparent;